/* 
Pallet of colors - look into CSS variables

Background: hsl(206, 30%, 37%)
Text: hsl(359, 71%, 87%)
Highlight/shadow: hsl(8, 99%, 71%)
Alert: hsl(359, 79%, 41%)

*/
@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');
body{
    background: hsl(206, 30%, 37%);
    font-size: 28px;
    margin: 0;
    font-family: 'Keania One', cursive;
}

.wrapper{
    color: hsl(359, 71%, 87%);
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    text-align: center;
}

.txtTitle{
    font-size: 4rem;
    margin: 1rem 1rem;
    text-decoration: underline;
}

.contentWrapper{
    display: grid;
    grid-template-rows:  repeat(3 auto);
    max-width: 80vw;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

.shipIcon{
    height: 50vh;
    justify-self: center;
}

.inputName{
    font-family: inherit;
    font-size: 3rem;
    text-align: center;
    padding: 0.3ch;
    color: hsl(359, 71%, 65%);
    border-radius: 0.5rem;
    border: none;
}

.inputName::placeholder{
    color: hsl(359, 71%, 75%);
}

.btnName{
    font-family: inherit;
    font-size: 2.5rem;
    border-radius: 0.5rem;
    border: none;
}